body {
  background-color: rgb(153, 201, 216);
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 0;
  width: 100%;
  padding: 0.9rem;
  background-color: rgb(18, 49, 35);
  box-shadow: 0px 8px 10px;
}
.menu-item {
  list-style: none;
}
.menu-item a {
  text-decoration: none;
}
a :nth-of-type(odd) {
  color: rgb(245, 245, 245);
}
.about-contact {
  color: rgb(189, 183, 107);
}
main {
  margin-top: 7rem;
  margin-left: 1rem;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
}
.text {
  text-transform: uppercase;
}
.image {
  width: 100px;
  height: 100px;
}
footer {
  background-color: #123123;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 0px 0px;
  padding-top: 0.5rem;
}
.img-git {
  width: 30px;
  height: 30px;
}
.name {
  margin-bottom: 0.5rem;
}
.name-text {
  margin: 25px;
}
.email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.email-text {
  margin: 22px;
}
.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px;
}
.info-text {
  display: flex;
  align-items: baseline;
}
button {
  border: 2px solid rgb(100, 149, 237);
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 7px 18px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 26px;
  box-shadow: 0 0 20px rgb(128, 128, 128);
}
.button {
  display: flex;
  justify-content: flex-end;
}
.button :hover {
  cursor: pointer;
  background-color: rgb(255, 255, 0);
  color: rgb(255, 0, 0);
}
h4 {
  font-size: 24px;
}
.header {
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
textarea {
  background-color: rgb(127, 255, 212);
  width: 200px;
  height: 100px;
  padding: 1px 2px;
}
form {
  width: 300px;
}
input {
  background-color: rgb(127, 255, 212);
  width: 65%;
}
.Lambo {
  color: rgb(240, 255, 255);
}
